.title-one {
    color:green;
    margin-left: 10px;
    margin-right: 5px;
}

.title-two {
    color:red;
}


.hrline {
    width: 80px;
    margin-top: 10px;
    margin-bottom: 100px;
    border: 2px solid black;
    opacity: 0.5;
}

.hrline2 {
    width: 80px;
    margin-top: 10px;
    margin-bottom: 50px;
    border: 2px solid black;
    opacity: 0.5;
}

.hrline3 {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px solid black;
    opacity: 0.5;
}

.topdeveloper-con {
    margin-top: 100px;
}

.map-con {
    margin-top: 400px;
}

.img-list {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid gray;
}

.univ-list {
    padding: 5px;
    position: absolute;
    top:0;
    left:5;
    background-color: green;
    display: inline-block;
    border-radius: 0px 0px 10px 10px;
}

.smenengah-list {
    padding: 5px;
    position: absolute;
    top: 0;
    left: 10;
    margin-left: 60px;
    background-color:red;
    display: inline-block;
    border-radius: 0px 0px 10px 10px;
}

.img-sekolah-list {
    width: 40px;
    height: 40px;
}

.list-content-box {
    position: relative;
}

.btn-list {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.rating-container-list {
    margin-top: 20px;
    margin-bottom: 10px;
}

.rating-star-list {
    width: 20px;
    height: 20px;
}

@media (max-width:526px){
    .img-list {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }
    .btn-list {
        bottom: none;
        top:0;
        margin-top: 140px;
    }
}